* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #424242;
}

ul {
  list-style: none;
}

.container {
  width: 1050px;
  margin: 0 auto;
}


/* header style start */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: 10px;
  max-height: 950px;
}

.architects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 16px;
  padding: 0 100px;
}

.architects h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 53px;
  color: #131313;
}

.nav-link {
  display: flex;
}

.nav-link li {
  margin-left: 6em;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.brand-new {
  text-align: center;
  padding-top: 80px;
}

.brand-new h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 75px;
  color: #131313;
}

.brand-new p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 30px;
}

.brand-new button {
  font-size: 16px;
  padding: 15px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  color: #ffff;
  background-color: rgba(255, 144, 14, 1);
}

.brand {
  padding: 0 100px;
}

.brand img {
  width: 100%;
  height: 100%;
}

/* quick list start */
.our-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 200px 100px;
  margin: 0 auto;
}

.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  gap: 20px;
  padding-top: 100px;
}

.quick-list-img img {
  width: 100%;
}

.quick-list {
  max-width: 400px;
}

.quick-list h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 20px;
}

.span-1 {
  color: rgba(114, 114, 114, 1);
}

.span-2 {
  color: rgba(255, 144, 14, 1);
}

.quick-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 32px;
}

.quick-list button {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 21px 25px;
  border: none;
  border-radius: 5px;
  background-color: #FF900E;
}

/* services section style */

.provite-bast-service {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
  gap: 20px;
  padding-bottom: 80px;
}

.service-heading h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 24px;
}

.service-heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 30px;
}

.service-info {
  max-width: 600px;
  margin-right: 50px;
}

.service-info-1 {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 20px 0;
}

.service-info-1 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  padding: 30px 0 10px 30px;
}

.service-info-1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding: 0 42px 30px 30px;
}

.architect img {
  width: 100%;
  height: 900px;
}

.architect button {
  padding: 30px 25px;
  position: relative;
  bottom: 66px;
  right: 50px;
  background-color: #FF900E;
  border: none;
  border-radius: 5px;

}

.architect button h3 {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}

.architect button p {
  color: #ffff;
  padding-top: 10px;
}
/* extra section style */
.our-goal{
  text-align: center;
  padding: 80px 100px;
  max-width: 900px;
  margin: 0 auto;
}
.our-goal h3{
  font-size: 45px;
  font-weight: 700;
  line-height: 65px;
  padding-bottom: 4x;
}
.our-goal p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  padding-top: 20px;
  padding-bottom: 80px;
}
.data-science{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 50px;
  max-width: 1050px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.data{
  box-shadow: 00px 0px 5px black;
  padding: 30px;
  border-radius: 5px;
  transition: .3s;
  
}
.data:hover{
  background-color: red;
  transform: scale(1.1);
}
.data-info h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 10px;
}
.data-info p{
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #727272;
}

/* some facts style */
.some-facts {
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 30px;
}

.facts h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 24px;
}

.facts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 80px;
}

.facts-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding-bottom: 80px;
  padding-top: 80px;

}

.fact-icon {
  text-align: center;
  background-color: darksalmon;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  transition: .3s;
}

.fact-icon:hover {
  transform: scale(1.2);
}

.fact-icon h5 {
  font-size: 25px;
  color: #727272;
}

.fact-icon p {
  color: antiquewhite;
}

/* company logo section style */
.company-brand {
  max-width: 1050px;
  margin: 0 auto;
}
.company-info {
  text-align: center;
  padding-top: 80px;
}
.company-info h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  padding-bottom: 24px;
}

.company-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-bottom: 50px;
}
.logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 130px;
  padding-top: 100px;
}
.logo > div img {
  width: 150px;
}

/* landing page footer style */
.landing-page p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background-color: cornsilk;
  padding: 80px 0;
}

/* handle responsive layout for only mobile device*/
@media screen and (max-width:768px) {
  /* header responsive done */
  .header {
    height: 100%;
  }
  .architects {
    flex-direction: column;
  }
  .nav-link {
    flex-direction: column;
  }
  .nav-link li {
    margin: 0;
    padding-top: 20px;
  }
  .brand-new p{
    padding: 30px 25px;
  }
  /* extra section responsive done */
  .data-science{ 
    grid-template-columns: repeat(1, 1fr);
    margin: 0 100px;
  }
  /* quick list responsive done */
  .our-features {
    flex-direction: column;
    padding: 0 25px 50px;
  }
  .quick-list-img {
    grid-template-columns: repeat(1, 1fr);
  }
  /* service section responsive done */
  .provite-bast-service {
    flex-direction: column;
  }
  .service-info {
    margin-right: 0;
  }
  /* facts icons section responsive done */
  .facts-icons {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-icon {
    margin: 0 100px;
  }
  /* company logo section responsive done */
  .company-info {
    padding: 0 25px;
  }
  .logo {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo > div img{
    padding-top: 50px;
  }
  
  .text-align{
    text-align: center;
  }
}




